@media only screen and (min-width: 900px) {

    .welcome {
        color: red;
    }

    div {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 1200px;
    }

    img {
        width: 50%;
        height: 500px;
    }
  
}